/* HEADER */

.menu {
  display: grid;
  grid-template-columns: 1fr 200px 1fr;
  align-items: center;
  background: black;
  /* background: #DFD633; */
}

.menu a {
  font-size: 16px;
  margin: 10px;
  text-decoration: none;
}

.toggle {
  display: none;
}

.menu-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0 15px;
  justify-content: left;
  align-items: center;
}

.menu-list a:hover,
.sesion-nav a:hover,
.menu a:hover {
  color: #e70a4d;
  cursor: pointer;
}

.logo-nav {
  display: flex;
  width: 200px;
  justify-content: center;
}

.logo-nav img {
  margin: 5px;
  width: auto;
  height: 50px;
}

.sesion-nav {
  display: flex;
  justify-content: flex-end;
  margin-right: 15px;
}

/* PORTADA */

.top {
  background: black;
  background-image: url('../assets/portada.jpg');
  background-size: 1000px;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  height: 570px;
}

/* SECTION EXPERIENCIA LIMÓN */

.experiencia-limon {
  background: black;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 5px 50px 5px;
}

.experiencia-limon .contenedor {
  display: flex;
  flex-direction: column;
  margin: 0 50px;
}

.experiencia-limon h1 {
  margin: 0;
  font-size: 80px;
  letter-spacing: 1px;
  font-weight: 1000;
}

.experiencia-limon h1 span {
  color: #e70a4d;
}

.experiencia-limon p {
  font-size: 16px;
  margin-bottom: 5px;
  letter-spacing: 1px;
}

.experiencia-call {
  display: flex;
  align-items: center;
  margin: 15px 0;
}

.experiencia-call p {
  margin: 15px;
  font-size: 14px;
}

.experiencia-call a {
  color: #e70a4d;
}

.experiencia-call a:hover {
  color: #ffc81d;
  cursor: pointer;
}

.logo-rock {
  display: flex;
  justify-content: left;
  margin: 0 50px;
}

.logo-rock img {
  width: auto;
  height: 180px;
}

/* SECTION NOVEDADES */

.novedades {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1400px;
  margin: 30px auto;
}

.novedades h2 {
  font-size: 48px;
  margin: 20px;
}

.contenedor-novedades {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}

/* SECTION NOVEDADES */

.novedad {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: white;
  border-radius: 24px;
}

.novedad:hover {
  cursor: pointer;
}

.novedad h3 {
  color: #171717;
  font-size: 20px;
  padding: 10px;
  letter-spacing: 0px;
  margin: 20px 0;
}

.novedad > img {
  object-fit: cover;
  background: black;
  border-radius: 24px 24px 0 0;
}

.novedad img {
  width: 100%;
  height: 150px;
}

/* SECTION SPOTIFY */

.spotify {
  background: #1db954;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.spotify .texto {
  margin: 0 30px;
}

.spotify .texto h2 {
  font-size: 48px;
}

.spotify .texto p {
  font-size: 24px;
}

.spotify-call {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spotify-call img {
  margin: 0 30px;
  width: auto;
  height: 100px;
}

/* SECTION GRILLA */

.grilla {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.grilla h2 {
  color: #171717;
  margin: 30px 15px 0 0;
  font-size: 48px;
}

.bandas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  margin: 30px;
}

.banda {
  position: relative;
  width: 100%;
  border-radius: 25px;
}

.banda img {
  opacity: 1;
  display: block;
  width: 400px;
  height: 100%;
  border-radius: 5px;
  transition: 1000ms ease;
  backface-visibility: hidden;
  background: #171717;
  object-fit: cover;
  border-radius: 25px;
}

.info-banda {
  transition: 1000ms ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.banda:hover img {
  opacity: 0.3;
}

.banda:hover .info-banda {
  opacity: 1;
}

.info-banda h3 {
  font-size: 32px;
  color: #171717;
}

.info-banda a {
  color: white;
  text-decoration: none;
}

/* SECTION INFO UTIL */

.info-util {
  display: flex;
  flex-direction: column;
  margin: 30px;
}

.contenedor-info {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-gap: 15px;
  justify-content: center;
}

.info-util h2 {
  margin: 10px;
  font-size: 48px;
  text-align: center;
}

.info {
  display: flex;
  flex-direction: column;
  background: white;
  text-align: center;
  margin: 15px;
  padding: 15px;
  border-radius: 15px;
}

.info-texto {
  display: flex;
  flex-direction: column;
}

.info-texto h3 {
  font-size: 32px;
  color: #171717;
}

.info-texto p {
  font-size: 18px;
  color: #171717;
  margin: 5px;
}

/* SECTION APP */

.app {
  background: #e70a4d;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.app-texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.app-texto h2 {
  font-size: 48px;
}

.app-texto p {
  font-size: 24px;
}

/* SECTION CONTACTO */

.contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  margin: 30px auto;
  border-bottom: 1px solid white;
}

.contacto h2 {
  font-size: 48px;
}

.contacto h3 {
  font-size: 32px;
}

.contacto form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
}

.contacto form input {
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  border: none;
  margin: 10px;
  width: 500px;
  height: 50px;
  padding: 15px;
}

.contacto textarea {
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  border: none;
  margin: 10px;
  width: 500px;
  height: 200px;
  padding: 15px;
}

.contacto textarea:focus,
.contacto input:focus {
  font-family: 'Noto Sans', sans-serif;
  background: rgb(195, 195, 195);
  outline: none;
}

.contacto button {
  width: 200px;
}

/* SECTION SOCIAL */

.social {
  max-width: 800px;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
}

.social a button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  margin: 15px;
}

.social a {
  text-decoration: none;
}

.social a:hover {
  text-decoration: none;
}

/* FOOTER */

.footer {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}

.footer h2 {
  color: #171717;
  font-size: 16px;
}

.footer h2 a {
  color: #e70a4d;
  text-decoration: none;
}

.footer h2 a:hover {
  color: #970632;
}

@media (max-width: 1000px) {
  /* MENU */

  .menu {
    display: grid;
    grid-template-columns: 0.3fr 0.7fr;
    grid-template-areas:
      'toggle sesion'
      'menu-list menu-list';
    align-items: center;
  }

  .menu .logo-nav {
    display: none;
  }

  .contenedor-toggle a {
    font-size: 32px;
    grid-area: toggle;
    display: flex;
  }

  .menu-list {
    position: relative;
    grid-area: menu-list;
    display: none;
    flex-direction: column;
    justify-content: center;
  }

  .open {
    display: flex;
  }

  .menu-list a {
    font-size: 24px;
  }

  .sesion-nav {
    grid-area: sesion;
  }

  .sesion-nav a {
    font-size: 12px;
    margin-right: 5px;
  }

  /* SECTION EXPERIENCIA LIMÓN */

  .experiencia-limon {
    flex-direction: column;
  }

  .experiencia-limon .contenedor {
    align-items: center;
    text-align: center;
  }

  .experiencia-limon .contenedor h1 {
    font-size: 32px;
  }

  .experiencia-call {
    flex-direction: column;
  }

  /* SECTION NOVEDADES */
  .contenedor-novedades {
    grid-template-columns: 400px;
  }

  /* SECTION GRILLA */
  .bandas {
    grid-template-columns: 400px;
  }

  .bandas img {
    width: 400px;
    height: 300px;
  }

  .desvanecer:hover {
    opacity: 1;
  }
  .contenedor-imagen h3 {
    font-size: 20px;
    text-shadow: 0.1em 0.1em #333;
  }

  .contenedor-imagen > h3 {
    z-index: 0;
  }

  /* SECTION SPOTIFY  */
  .spotify {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 10px;
  }

  .spotify .texto h2 {
    font-size: 50px;
    margin: 10px 0;
  }
  .spotify .texto p {
    font-size: 24px;
    margin: 0;
  }

  .spotify-call {
    flex-direction: column;
    margin: 10px;
  }

  .spotify-call img {
    display: none;
  }

  /* SECTION INFO UTIL */

  .contenedor-info {
    grid-template-columns: 400px;
  }

  /* SECTION APP */

  .app {
    flex-direction: column;
    text-align: center;
  }

  .app-texto h2 {
    font-size: 40px;
  }
  .app-texto p {
    font-size: 24px;
    margin: 10px;
  }

  /* SECTION CONTACTO */

  .contacto h2 {
    font-size: 40px;
  }

  .contacto form input,
  .contacto textarea {
    width: 400px;
  }

  /* SECTION SOCIAL */
  .social {
    max-width: 350px;
    margin: 15px auto;
    align-items: center;
  }
  .social a button {
    width: 50px;
    height: 50px;
    margin: 10px 0;
  }
}
