.btn {
  font-size: 14px;
  padding: 10px;
  font-weight: 600;
  border: none;
  border-radius: 50px;
  font-family: "Noto Sans", sans-serif;
  transition: 0.5s ease;
}

.btn:hover {
  cursor: pointer;
}

.btn-registrarse {
  background: #e70a4d;
  color: white;
  font-size: 16px;
}

.btn-registrarse:hover {
  background: #970632;
}

.btn-novedades {
  margin: 30px;
  font-size: 16px;
  padding: 15px;
}

.btn-novedades:hover {
  background: rgb(173, 173, 173);
}

.btn-anuncio {
  margin: 30px;
  font-size: 16px;
  padding: 15px;
}

.btn-anuncio:hover {
  background: rgb(173, 173, 173);
}

.btn-info {
  font-size: 20px;
  background: #171717;
  padding: 15px;
  color: white;
  margin: 15px 0 30px 0;
}

.btn-info:hover {
  background: #5a5a5a;
}